@import '~antd/dist/antd.css';

body {
  margin: 0;
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ant-layout{
  height: 100vh;
} 


.full-bg-size-component { 
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeContent{
  width: 100%;
  height: 100%;
  margin: 24px 16px;
  padding: 94;
  padding: 0;
  background-image: "url('img/playstation-bg.png')";
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.homeText{
  margin-top: 300px;
  color: #fff;
  text-align: center;
}