@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


/* Generic begin */
body {
  margin: 0;
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
}

.ant-layout{
  height: 100vw;
} 

/* sidebar begin */
.logo{
  margin: 20px;
  text-align: center;
}

/* Home begin */
.homeContent{
  width: 100%;
  height: 100%;
  margin: 24px 16px;
  padding: 94;
  padding: 0;
  background-image: "url('img/playstation-bg.png')";
  background-repeat: no-repeat; 
  background-position:  90px 0;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center
}

.homeTextWrapper{
  margin-top: 200px;
  align-self: center ;
}

.homeText{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;

  color: #fff;
  text-align: center;
}

.menu-item{
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: 'Bebas Neue', cursive;
}

.btnPs {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  background-color: 'transparent';
}
